/* fundo da página */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, pink, #ffffff);
    color: #333;
}

/* centralização do container e outras coisas ai */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}


.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* espaçamento uniforme das coisas */
form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

/* caixinhas genero */
.genero-container {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.genero-container label {
    font-weight: normal;
}

/* area texrto */
textarea {
    resize: vertical;
}

/* ---Botões----- */
.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button[type="submit"],
button[type="reset"] {
    width: 48%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* --botão enviar----- */
button[type="submit"] {
    background-color: #de3163;
    color: white;
}

button[type="submit"]:hover {
    background-color: #a91e14;
}

/* --botão limpar--- */
button[type="reset"] {
    background-color: #e0e0e0;
    color: #333;
}

button[type="reset"]:hover {
    background-color: #cfcfcf;
}

/* Rodapé */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    font-size: 14px;
    color: #777;
}
